<div class="jumbotron">
    <div class="text-center">
        <h1>One To Fifty</h1>
        <p class="lead">Click from 1 - 50 as fast as you can.</p>
        <h5>Click on 1 to start the game.</h5>

        <div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="showAlert">
            <button type="button" class="close" data-dismiss="alert" (click)="showAlert=false" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
            <strong>Congratualtions!</strong> You have won the game.
            <button type="button" class="btn btn-default" (click)="resetGame()">Play Again?</button>
        </div>

        <div class="centered">
            <div class="text-center grid-row" *ngFor="let numRow of numArray; let i = index">
                <div class="text-center block" (click)="clickBlock(block, i, j)" *ngFor="let block of numRow; let j = index">
                    <span class="text-center value">{{block.value}}</span></div>
                <br/>
            </div>
        </div>
    </div>


</div>